* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans JP", sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.app-content {
  width: 80%;
}

.app-header {
  background: #93e1d8;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.app-form {
  width: 100%;
  margin-top: 30px;
}

.app-input {
  width: 80%;
  background: #f3f6f5;
  height: 40px;
  border: none;
  border-radius: 6px 0 0 6px;
  padding-left: 10px;
  outline: none;
}

.app-button {
  width: 20%;
  height: 40px;
  background: #5296a5;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #fff;
}

.app-list {
  margin-top: 20px;
}

.to-do-item {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 10px 0;
}
